@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.projects{
    margin-top: 20px;
    padding: 1%;
    display: grid;
    grid-template: min-content / 1fr 1fr 1fr;
    gap:5%;
    font-family: 'Roboto Mono', monospace;
}

.projects div{
    /* width: 400px;
    height: 200px; */
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5%;
}

.projects h3{
    margin-bottom: 10px;
    text-align: center;
    color: brown;
}

.projects img{
    margin: 10px;
    width: 50px;
}

.projects p{
    text-align: justify;
}

.projects button{
    margin-top: 10%;
    padding: 7%;
    background-color: silver;
    border: none;
    font-family: 'Roboto Mono', monospace;
    color: black;
}

.projects button:hover{
    background-color: brown;
    color: white;
}