.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 10em;
}

.navigation a{
    text-decoration: none;
    color: white;
}