.list{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 0.5%;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap:20px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 5%;

}

.list div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list h3{
    color: goldenrod;
    text-align: center;
    border-bottom: 1px solid gold;
    padding-bottom: 5px;
}

.list p{
    text-align: justify;
    color: white;
}

.list button{
    margin: auto;
    padding: 5px;
    border: 1px solid goldenrod;
    border-radius: 11%;
    background-color: black;
    color: gold;
    font-family: 'Cinzel', serif;
}

.list a{
    text-decoration: none;
    color: white;
}