@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*
    font-family: 'Roboto Mono', monospace;
*/

.home{
    padding: 1%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto Mono', monospace;
}

.homeContent{
    padding: 2.5%;
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 20px;

}

.apresentation{
    text-align: justify;
}