.menu {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 60px;
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    transition: 500ms;
    transition-timing-function: ease-in-out;
}

.click_img{
    padding: 5px;
    width: 3.5rem;
    background-color: goldenrod;
    border-radius: 50%;
}

.selected{
    width: 50%;
    background-color: rgb(255, 217, 167);
}

.handle_show_menu{
    padding: 20px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact a{
    text-decoration: none;
    color: black;
}

.contact img{
    width: 2rem;
}