.footer{
    margin-top: 30px;
    width: 100%;
    /* min-height: 100px; */
    /* position: absolute;
    bottom: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(88, 85, 85, 0.2);
    color: white;
}

.footer img{
    width: 50px;
    height: 50px;
}

.footer h3{
    color: goldenrod;
}

.footer hr{
    width: 10%;
}

/* .links{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.links h3{
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: goldenrod;
}


.links h4{
    margin: 0;
    padding: 0;
}

.links div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.links a{
    text-decoration: none;
    color: white;
}

.links img{
    width: 15px;
} */