@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto+Mono&family=Square+Peg&display=swap');

/*
  font-family: 'Cinzel', serif; Titles
  font-family: 'Roboto Mono', monospace; Subtitles
  font-family: 'Square Peg', cursive; Main
*/

body {
  font-family: 'Square Peg', cursive;
  font-size: 20px;
  /* padding: 20px 20px 60px; */
  /* max-width: 680px; */
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  /* background-color: gray; */
  background-image: url('../public/images/background/back.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
}