@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto+Mono&family=Square+Peg&display=swap');

/*
  font-family: 'Cinzel', serif; Titles
  font-family: 'Roboto Mono', monospace; Main
*/

body {
  font-family: 'Roboto Mono', monospace;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}