.navigation{
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}

.linkName{
    color: white;
    text-decoration: none;
}

.homeItem:hover{
    color: red;
}

.projectsItem:hover{
    color: red;
}

.aboutItem:hover{
    color: red;
}